<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>

        <% if(prods.length > 0) { %>
            <div>
                <% for (let product of prods) { %>
                    <h1> <%= product.title %> </h1>
                    <h3> <%= product.price %> </h3>
                    <p> <%= product.description %> </p>
                    <img src="<%= product.imageUrl %>" alt="img">
                    <a href="/admin/edit-product/<%= product._id %>?edit=true" > Edit </a>
                    
                    <form action="/admin/delete-product" method="POST">
                        <input type="hidden" name="productId" value="<%= product._id %>" >
                        <button type="submit" > Delete </button>
                    </form>
                <% } %>
            </div>
           
        <% } %>
    </main>


<%- include('../includes/tail.ejs') %>